@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply overflow-x-hidden; 
  }

  @media (min-width: 768px) {
    html, body {
      overflow-x: visible; 
    }
  }

  html {
    background-color: #070e12;
    color: hsl(var(--foreground));
  }

  body {
    @apply bg-background text-foreground;
  }

  .card {
    background-color: var(--primary-dark);
    border-radius: var(--radius);
    @apply shadow-md p-4;
  }
}

