@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  

  /* Apply the background and text colors */
  html {
    background-color: #070e12;
    color: hsl(var(--foreground));
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Additional card styling */
  .card {
    background-color: --primary-dark;
    border-radius: var(--radius);
    @apply shadow-md p-4;
  }
}


