---
import Layout from '../layouts/Layout.astro';
import { TextRevealDemo } from '@/components/small_components/textReveal';

  
---

<Layout>
   
</Layout>
 {/* @ts-ignore */}
 <TextRevealDemo client:load />
    
 
      
     
     
     
 </div>
