---
import Layout from '../layouts/Layout.astro';
import { TextRevealDemo } from '@/components/small_components/textReveal';
import Hero from '@/components/sections/hero.astro';
import { FloatingDockDemo } from '@/components/small_components/floatingDoc';
import BentoGrid from '@/components/small_components/bentoGrid';

  
---

<Layout>
   
</Layout>
<FloatingDockDemo client:load/>
<Hero />
 {/* @ts-ignore */}
 <BentoGrid client:load/>
 <TextRevealDemo client:load />
 
      
     
     
     
 </div>
