---
import Layout from '../layouts/Layout.astro';
import { TextRevealDemo } from '@/components/small_components/textReveal';
import Hero from '@/components/sections/hero.astro';




  
---

<Layout>
   
</Layout>

<Hero />
 {/* @ts-ignore */}
 <TextRevealDemo client:load />

 
      
     
     
     
 </div>
