---
import Layout from '../layouts/Layout.astro';
import { TextRevealDemo } from '@/components/textReveal';
import { IconCloudDemo } from '@/components/iconCloud';
  
---

<Layout>
   
</Layout>
 {/* @ts-ignore */}
 <TextRevealDemo client:load />
    
 
      
     
     
     
 </div>
