---
import '@/styles/globals.css'
import { FloatingDockDemo } from '@/components/small_components/floatingDoc';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nrentzilas.dev</title>

		<script>
			(function () {
				const theme = localStorage.getItem('theme');
				const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

				
				const useDark = theme === 'dark' || (!theme && prefersDark);

				if (useDark) {
					document.documentElement.classList.add('dark');
					document.body.style.backgroundColor = '#070e12'; 
				} else {
					document.documentElement.classList.remove('dark');
					document.body.style.backgroundColor = '#f8f9fa';
				}
			})();
		</script>
	</head>
	<body>
		<FloatingDockDemo client:load/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	
</style>
